= slide 'Преговор' do
  p Lock-free алгоритми, benchmarking

= slide 'Предизвикателство 2' do
  example:
    let items: Vec<_> = collect![x * x; x <- 1..4];

= slide 'Проекти' do
  list:
    Точки: 30 + 15 + 15
    Функционалност: 30т
    Стил: 15т
    Тестове: 15т

= slide 'Функционалност' do
  p Нещо смислено и не-калпаво.

= slide 'Стил?' do
  list:
    Тонове `unwrap`-ове и `[0]`-та => 👎
    Използване на `get`, `map`, `and_then` => 👍
    Копиране на структури напред-назад, без добра причина => 👎
    Използване на итератори, move semantics, references, Rc => 👍
    Използване на вектори и tuple-и за всички данни, навсякъде => 👎
    Изграждане на смислени типове и trait-ове, които дефинират ясно поведение => 👍

= slide 'Стил?' do
  p Няма да сме твърде стриктни, ясно е, че поради липса на време, тук-таме ще има някой shortcut. Но ако целия проект използва едни и същи не-особено rust-ски pattern-и, ще смъкваме точки.

  p Положете усилия да се впишете в стила на rust, и ще сте ок, дори да не го докарате на 100%.

= slide 'Тестове' do
  p Пак, не търсим 100% coverage, но очакваме да изтествате поне базовата си логика.

= slide 'Тестове', 'библиотеки' do
  list:
    [stainless](https://github.com/reem/stainless)
    [morq](https://morq.rs/)
    [quickcheck](https://github.com/BurntSushi/quickcheck)

= slide 'Инструменти' do
  list:
    [clippy](https://github.com/rust-lang-nursery/rust-clippy)
    [rustfmt](https://github.com/rust-lang-nursery/rustfmt)
    [RLS](https://github.com/rust-lang-nursery/rls)

= slide 'Редактори' do
  list:
    VS Code: Поддържа RLS най-адекватно, сравнително безопасен избор
    IntelliJ: Слави го харесва. `¯\_(ツ)_/¯`
    Vim: Очевидната препоръка.
    Neovim: Eh. Има поддръжка за RLS.

= slide 'WASM' do
  p По някаква странна причина, this is a thing.

  list:
    [stdweb](https://github.com/koute/stdweb/)
    [gate_demo](https://github.com/SergiusIW/gate_demo)

= slide 'Калпав текстов редактор' do
  p Проекта в github: <a href="https://github.com/AndrewRadev/rust-editor">rust-editor</a>
